.custom-button {
    text-decoration: none;
    background-color: darkblue;
    color: whitesmoke;
    padding: 4px;
    border-radius: 4px;
    font-weight: 400;
}

.custom-button:hover {
    background-color: lightcoral;
    color: white;
}

body {
    background-color: #868686 !important; 
    color: #202325; 
    font-family: Arial, sans-serif; 
}